@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-discord-darker text-discord-text antialiased;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-discord-border rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-discord-muted;
  }
}
